/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav .brand-logo {
  color: #ffffff;
  background-color: black;
}

p {
  line-height: 2rem;
  background-color: black;
}

.button-collapse {
  color: #26a6a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  background color: #000000;
}

.icon-block {
cursor: pointer; cursor: hand;
}

  .parallax-container .section {
    width: 100%;
    background color: #ffffff;
}

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
    color: #ffffff;
    background-color: black;
  }

#index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
    background-color: black;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
  color: #ffffff;
}

.page-footer {
  margin: 0;
  color: #000000;
}

.container {
  background-color: black;
  color: #ffffff;
}

body {
  background-color: black;
}

.white {
  background-color: black;
  color: #ffffff;
}

$("#card").flip();
